.Cuadrado{
    border: 1px;
    display: inline-block;
    width: auto;
    margin: 0 40px;
    text-align: justify;
    justify-content: center;
    
 }

 a:link, a:visited, a:active {
    text-decoration:none;
}