#container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#text {
    z-index: 100;
    position: absolute;
    color: "inherit";
    font-Family: Bauer Bodoni;
    font-size: 80px;
    text-align: center;
    left: 100px;
    top: 200px;
}

#logos {
    z-index: 100;
    position: absolute;
    color: "inherit";
    font-size: 80px;
    text-align: center;
    left: 570px;
    top: 430px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}