.container {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom:0px;
    position: absolute;
    width: 100%;
    max-width: auto;
}

.img {
    z-index: 100;
    position: absolute;
    left: 1200px;
    top: 350px;
}

.logos {
    z-index: 100;
    position: absolute;
    left: 1600px;
    top: 100px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}